.genre-card {
    border-radius: 4px;
    border: none;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
}

.genre-card h5 {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 20px;
    color: var(--primaryColor);
}

.genre-card .go-to-genre-button {
    margin-bottom: 0px;
}

.genre-card .genre-card-icon {
    display: inline-block;
    height: 20px;
    width: max-content;
}

.genre-card .go-to-genre-icon {
    display: inline-block;
    height: 16px;
    width: max-content;
}